body{
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",'メイリオ',Meiryo,"ＭＳ Ｐゴシック", serif,  Arial, sans-serif;
	background-color:#f8f2e5;
	color:#666666;
	position:relative;
	height:100%;	
	padding-bottom:100px;
	margin-bottom:0!important;
}
#wrapper{
	opacity:0;
	min-width:992px;
	overflow-x:hidden;
	@media screen and (max-width:768px){
		min-width:100%;
	}
}
audio{
	display:none;
}
#loading{
	position:fixed;
	width:154px;
	height:130px;
	top:50%;
	left:50%;
	margin-left:-77px;
	margin-top:-65px;
	text-align:center;
	img{
		width:100px;
		height:100px;
	}
}

/* bootstrapをサイトに最適化
***************************************/
@media screen and (min-width:1200px){
	.container{
		width:1024px;
	}
}

/* ヘッダー　と　メニュー
***************************************/
header{
	position:fixed;
	top:0;
	width:100%;
	z-index:9;
	opacity:0;
	.menu{
		position:absolute;
		z-index:10;
		top:8px;
		left:8px;
		width:200px;
		height:50px;
		.menu-btn{
			width:50px;
			height:50px;
			background:url("../images/menu-btn.png");
			background-size:50px 50px;
			float:left;
			cursor:pointer;
			transform: rotateY(0deg);
			transition: transform 0.3s linear;
			&:hover{
				transform: rotateY(360deg);			
			}
		}
		.menu-text{
			display: table-cell;
			vertical-align: middle;
			height:50px;
			padding-left:16px;
			color:#ffffff;
			letter-spacing:4px;
			transition: color 0.3s linear;
		}
	}
}
.g-menu{
	position:fixed;
	left:-200px;
	width:180px;
	background-color:#fff;
	z-index:2000;
	ul#main-menu{
		padding:0;
		margin:0;
		li{
			width:100%;
			line-height:60px;
			padding-left:32px;
			list-style:none;
			border-bottom:1px #000000 solid;
			a{
				display:block;
				width:100%;
				height:100%;
				color:#000000;
				&:hover{
					color:#007936;
					text-decoration: none;
				}
			}			
		}
		li#back-contents{
			color:#000;
			&:hover{
				color:#007936;
			}
		}	
	}
}
.overlay{
	position:fixed;
	display:block;
	width:100%;
	background:#000;
	z-index:-1;
	opacity:0;
	transition: opacity 0.3s linear 0;
}

/* トップの画像とテキスト
***************************************/
#top-text{
	position:relative;
	overflow:hidden;
	width:100%;
	background:url("../images/background-photo.jpg") center center no-repeat;
	background-size:cover;
	.top-title{
		position:absolute;
		top:30%;
		width:100%;
		margin-top:-0.5em;
		color:#ffffff;
		letter-spacing:6px;
		font-size:40px;
		text-align:center;
	}
	p{
		position:absolute;
		z-index:9;
		top:50%;
		left:50%;
		width:80%;
		margin-top:-0.5em;
		margin-left:-40%;
		font-size:16px;
		line-height:40px;
		text-align:center;
		color:#ffffff;
		-webkit-font-smoothing: antialiased;
	}
}

/*　共通部分
***************************************/
.title{
	font-size:40px;
	text-align:center;
	width:100%;
	letter-spacing:6px;
	padding:32px 0;
}

/*　レッスン
***************************************/
#lesson-area{
	.lesson-wrap{
		position:relative;
		height:500px;
		@media screen and(max-width:992px){
			height:auto;	
		}
	}
	.lesson-property{
		width:950px;
		overflow:hidden;
		margin:0 auto;
		margin-left:auto;
		text-align:center;
		@media screen and(max-width:992px){
			width:100%;	
		}
		.lesson{
			width:275px;
			min-height:400px;
			border-top:2px solid #ff6200;
			border-bottom:2px solid #ff6200;
			float:left;
			margin:0 16px;
			padding:32px 16px;
			border-radius:5px;
			text-align:center;
			opacity:0;
			.lesson-image{
				margin-bottom:24px;
				text-align:center;
				img{
					width:180px;
					height:180px;
					border-radius:180px;
				}
			}
			.lesson-text{
				text-align:left;
				letter-spacing:0.3px;
				line-height:26px;
				height:130px;
			}
			@media screen and(max-width:992px){
				min-height:0;
				width:100%;
				height:150px;
				margin:16px 0;
				padding:16px;
				display:table;
				.lesson-image{
					display:table-cell;
					vertical-align: middle;
					width:40%;
					margin:0;
					img{
						height:auto;
					}
				}
				.lesson-text{
					display:table-cell;
					vertical-align: middle;
					width:55%;
					padding:0 2.5%;
					letter-spacing: 0.3px;
					line-height: 25px;
					p{
						vertical-align: middle;
						margin:0;
					}
				}
			}

		}
		.lesson.on{
			opacity:1;
		}
		.step1,
		.step2,
		.step3{
			opacity:0;
			transition:opacity 1s linear ;
			-webkit-transition:opacity 1s linear ;
			@media screen and (max-width:768px){
				transition-delay:0s !important;
			}
		}
		.step1{
			transition-delay:0s;
			-webkit-transition-delay:0s;
		}
		.step2{
			transition-delay:0.5s;
			-webkit-transition-delay:0.5s;
		}
		.step3{
			transition-delay:1s;
			-webkit-transition-delay:1s;
		}
	}
	.bx-wrapper{
		width: 100%;
		max-width:100%!important;
		max-height:450px;
		position:absolute;
		top:0;
		opacity:0;
		z-index:3;
		.bx-viewport{
			position:relative;
			overflow:visible!important;
			@media screen and (max-width:992px){
				overflow:hidden!important;
			}
			#detail-slider{
				// left:-55.8%;
				.slider-element{
					padding:0 36px;	
				}
			}
			&:before{
				content:"";
				position:absolute;
				left:-100%;
				top:-20px;
				width: 100%;
				height: 440px;
				z-index:4;
				background-color:#999;
				opacity:0.7;
				@media screen and (max-width:992px){
					display:none;
				}
			}
			&:after{
				content:"";
				position:absolute;
				right:-100%;
				top:-20px;	
				width: 100%;
				height: 440px;
				z-index:4;
				background-color:#999;
				opacity:0.7;
				@media screen and (max-width:992px){
					display:none;
				}
			}
		}
	}
	.sp-slider{
		display:block;
		transition:height 0.3s linear;
		@media screen and (min-width:992px){
			display:none!important;
		}
		#detail-slider-sp{
			.slider-element{
				padding:0 36px;	
			}
		}
	}
	.control-detail{
		font-family: 'Titillium Web',"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",'メイリオ',Meiryo,"ＭＳ Ｐゴシック", serif,  Arial, sans-serif;
		text-align:center;
		.backto-list{
			display:inline-block;
			margin:0 auto;
			margin-top:50px;
			padding:8px 32px;
			border:2px solid #ff6200;
			border-radius:10px;
			cursor:pointer;
			letter-spacing:3px;
			font-size:16px;
			font-style:italic;
			background:transparent;
			transition:
				background-color 0.3s linear,
				color 0.3s linear
			;
			display:none;
			span{
				transform:translateY(0px);
			}
			&:hover{
				color:#fff;
				background-color:#ff6200;
				span{
					animation:more_animation 0.5s;
					-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
					animation-delay:0s;
					-webkit-animation-delay:0s;
					&#a{
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.2s;
						-webkit-animation-delay:0.2s;
					}
					&#c{	
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.3s;
						-webkit-animation-delay:0.3s;
					}
					&#k{	
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.4s;
						-webkit-animation-delay:0.4s;
					}
				}
			}
		}
		.more_lesson{
			display:inline-block;
			margin:0 auto;
			margin-top:50px;
			border:2px solid #ff6200;
			border-radius:10px;
			cursor:pointer;
			letter-spacing:3px;
			font-size:16px;
			font-style:italic;
			background:transparent;
			transition:
				background-color 0.3s linear
			;
			a{
				display:block;
				width:100%;
				height:100%;
				padding:8px 32px;
				color:#666;
				transition: color 0.3s linear;
				&:hover{
					color:#fff;
					text-decoration:none;
				}
			}
			span{
				transform:translateY(0px);
			}
			&:hover{
				color:#fff;
				background-color:#ff6200;
				span{
					animation:more_animation 0.5s;
					-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
					animation-delay:0s;
					-webkit-animation-delay:0s;
					&#o{
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.2s;
						-webkit-animation-delay:0.2s;
					}
					&#r{	
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.3s;
						-webkit-animation-delay:0.3s;
					}
					&#e{	
						animation:more_animation 0.5s;
						-webkit-animation:more_animation 0.5s; /*Safari and Chrome */
						animation-delay:0.4s;
						-webkit-animation-delay:0.4s;
					}
				}
			}
		}
	}
}
@keyframes more_animation
{
0%   {transform:translateY(0px);}
50%  {transform:translateY(-4px);}
100%  {transform:translateY(0px);}
}

@-webkit-keyframes more_animation /*Safari and Chrome */
{
0%   {transform:translateY(0px);}
50%  {transform:translateY(-4px);}
100%  {transform:translateY(0px);}
}

/*　アクセス
***************************************/
#access-area{
	overflow:hidden;
	width:100%;
	position:relative;
	#gmap{
		position:relative;
		z-index:8;
		width:100%;
		height:320px;
		border-top:2px #ff6200 solid;
		border-bottom:2px #ff6200 solid;
	}
	#access-addless{
		float:none;
		margin:0 auto;
		padding-top:40px;
	}
}

/*　コンタクトフォーム	
***************************************/
.contact-wrap{
	// @media screen and (min-width:992px){
		float:none;
		margin:0 auto;
		width:600px;
		@media screen and (max-width:768px){
			width:100%;
		}
		width:600px;
	// }
	line-height:28px;
	.contact-rows{
		margin:12px 0;
	}
	.index-title{
		font-size:16px;
		font-weight:bold;
		text-align:left;
		line-height:38px;
	}
	.inputbox{
		position:relative;
		padding:0;
		line-height:38px;
		&:hover .line{
			width:100%;
		}
		&:focus .line{
			width:100%;
		}
		input{
			border-bottom:2px dashed #666666;
			&.ok-input{
				background:url("../images/input-back.png") right bottom no-repeat;
			}
		}
		select{
			border:none;
			background:none;
		}
	}
	.wpcf7-submit{
		display:block;
		font-size: 16px;
		width:150px;
		padding:8px;
		border:2px #666666 solid;
		border-radius:4px;
		margin:0 auto;
		text-align:center;
		&:hover{
			color:#ffffff;
			background-color:#666666;
		}
	}
	.line{
		width:0%;
		height:4px;
		background-color: #FF6200;
		position:absolute;
		bottom:0;
		left:0;
		transition:width 0.4s linear;
		&.null-input{
			width:0;
			background-color: #666666!important;
		}
	}
	.center-title{
		float:none;
		margin:0 auto;
		text-align:center;
	}
	input{
		width:100%;
		background:none;
		border:none;
		line-height:24px;
		font-size:24px;
		&:focus{
			outline:none;
		}
	}
	textarea{
    	resize: none; 
		width:100%;
	}
}

/*　フッター
***************************************/
footer{
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
}