#build-menu-page {
  left: 0;
  right: 0;
  overflow-x:hidden;
  z-index: 51;
}

#build-menu {
	visibility: visible;
	z-index: 0;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	display: none;
	width: 200px;
  padding: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  right: 0;
}

.build-menu-animating #build-menu-page {
	position: absolute;
	left: -200px;
	right: 200px;
}

.build-menu-animating.build-menu-close #build-menu-page {
	left: 0;
	right: 0;
}

.build-menu-animating.build-menu-close #build-menu-page,
.build-menu-animating.build-menu-open #build-menu-page {
	transition: left 250ms, right 250ms;
}

.build-menu-animating.build-menu-open #build-menu-page {
	left: -200px;
	right: 200px;
}

.build-menu-animating #build-menu { display: block }

.build-menu-open #build-menu {
	display: block;
	-webkit-transition-delay: 0ms, 0ms, 0ms;
	-moz-transition-delay: 0ms, 0ms, 0ms;
	-o-transition-delay: 0ms, 0ms, 0ms;
	-ms-transition-delay: 0ms, 0ms, 0ms;
	transition-delay: 0ms, 0ms, 0ms;
}

.build-menu-open #build-menu,
.build-menu-close #build-menu {
	-webkit-transition: -webkit-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-moz-transition: -moz-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-o-transition: -o-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-ms-transition: -ms-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	transition: transform 250ms, opacity 250ms, visibility 0ms 250ms;
}